# gitignore 파일이란?
# 사용자가 원하지 않는 파일들을 자동적으로 git 커밋 대상에서 제외 시켜주는 것이다.

# .gitignore 파일은 어디에 생성해야 할까?
# 프로젝트의 최상단 폴더에 생성하면 된다.

# .gitignore 파일 규칙
# - # 은 주석의 역할
# - 표준 glob 패턴을 사용
# - / 를 사용하면 규칙이 프로젝트 전체에 적용되지 않음
# - / 로 끝나는 것은 폴더로 인식
# - ! 를 사용하면 무시가 되지 않음  (단, 한번 제외된 폴더의 내의 파일들은 다시 추가 할 수가 없다!!)


# 해당 url 에서 gitignore 파일 생성 가능
# https://www.toptal.com/developers/gitignore


# ex ▼ ▼ ▼ ▼ ▼

# 모든 확장자 .a 파일을 무시
*.a


# 무시하는 모든 확장자 .a 파일들 중에서 lib.a 파일은 무시하지 않음
!lib.a


# root/
#  ㄴ.gitignore
#  ㄴA/
#    ㄴa.txt
#    ㄴT/
#      ㄴtt.txt
#  ㄴT/
#    ㄴt.txt
#
# 현재 폴더 중에서 TODO 폴더에 있는 모든 파일을 무시
# (즉, t.txt 파일만 무시되고 tt.txt 파일은 무시되지 않음
/T


# ▼--------------------------------------------------------------------
# root/
#  ㄴ.gitignore
#  ㄴdoc/
#    ㄴa.txt
#    ㄴb.pdf
#    ㄴF/
#      ㄴss.txt
#      ㄴpp.pdf
#
# 현재 폴더 중에서 doc 폴더 바로 밑에 있는 .txt 확장자 파일만 모두 무시
# 단, doc/F/ss.txt 와 같은 형식에서는 .txt 확장자 파일이 무시되지 않음
doc/*.txt

# 현재 폴더 중에서 doc 폴더 하위에 있는 .pdf 확장자 파일은 doc 폴더 하위 어떤 폴더에 들어 있더라도 모두 무시
# (즉, p.pdf 파일과 pp.pdf 파일 모두 무시됨)
doc/**/*.pdf
# ▲--------------------------------------------------------------------



# myfirstreact 관련 ▼ ----------------------------------
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/myfirstreact/node_modules
/react/myfirstreact/.pnp
.pnp.js

# testing
/react/myfirstreact/coverage

# production
/react/myfirstreact/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
# myfirstreact 관련 ▲ ----------------------------------
